@import "./reset.css";
body {
    background-color: white;
}
.container {
    width: 1200px;
    margin: 0 auto;

}
.hr li {
    display: inline;
    padding: 92px;
}
ul {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18pt;
    color: #16a085;
    font-weight: bold;
}


img {
    margin-bottom: 50px;
}
h2 {
    font-family: sans-serif ;
    font-size: 25px;
    margin-bottom: 44px;
    font-weight: bold;
    text-align: center;
    color: black;
}
p {
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    font-size: 22px;
    margin-bottom: 30px;
    color: black;
}
button {
    font-family: sans-serif;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #16a085;
    margin-top: 30px;
    margin-left: 550px;
    margin-bottom: 50px;
    border-radius: 3px;
    padding: 20px 20px;
}
.btm {
    text-align: end;
    font-size: 14px;
}